<div class="col-md-10 col-md-offset-1">
  <h1 style="text-align:center;"><b>About</b></h1>
<hr>
<div class="jumbotron">
	<h4>Take a link from any of your favorite online video site, paste and voila the video is saved in your account. Never having to set up endless accounts and having to remember where that funny video you liked is still there. Viewels let you keep all you Video Jewels in one place.</h4>
	<small> Compatible with Vimeo, Youtube, Dailymotion and Worldstar. New filters every day.</small>
</div>

<div class="col-md-4">
  <iframe src="//player.vimeo.com/video/33091687?portrait=0" width="300" height="181" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

  <div class="col-md-4">
<iframe frameborder="0" width="300" height="181" src="//www.dailymotion.com/embed/video/x1wdh5i" allowfullscreen></iframe>
</div>

 <div class="col-md-4">
<iframe width="300" height="181" src="//www.youtube.com/embed/3AgBU3M25j4" frameborder="0" allowfullscreen></iframe>
</div>

</div>